// Global
body {
    font-size: 16px;
}

main {
    padding: 30px 0;
}

// Helpers
.lead {
    font-size: 18px;
    font-weight: bold;
}

// Quote Styles
.quote {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

// ActionSheet Styles
.action-sheet {
    padding: 10px 40px 30px;
    margin-bottom: 30px;
}

//AddActionButton Styles
.action-button-container {
    position: relative;
}

.add-action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}