body {
  font-size: 16px; }

main {
  padding: 30px 0; }

.lead {
  font-size: 18px;
  font-weight: bold; }

.quote {
  font-size: 20px;
  text-align: center;
  margin-top: 40px; }

.action-sheet {
  padding: 10px 40px 30px;
  margin-bottom: 30px; }

.action-button-container {
  position: relative; }

.add-action-button {
  position: fixed;
  bottom: 20px;
  right: 20px; }
